#### Finding popular / unpopular keywords

In [110]:
#kannan: 6/26
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import math

In [111]:
df_kw = pd.read_excel( '../data/output/2_keywords_list_kannan.xlsx')
df_kw.shape

(7795, 3)

In [112]:
df_kw.keywords = df_kw.keywords.str.replace(' ', '')

In [113]:
df_kw.head()

   Id                                           keywords  shares
0   1  north-korea,uncategorized,us-world,world,detai...    1100
1   2  apple,visa,mobile-payments,american-express,ma...    1100
2   3  australia,uncategorized,us-world,sports,mad-mo...    1000
3   4   australia,bmw,uncategorized,us-world,tony-abbott     822
4   5  q-a,australia,uncategorized,tv,us-world,jane-caro     841

In [114]:
df_kw.dtypes

Id           int64
keywords    object
shares       int64
dtype: object

In [115]:
#split
df_unzipped=pd.DataFrame(columns=['keyword','shares'])
idx=0
for i,r in df_kw.iterrows():
    s=int(r['shares'])*1.00
    kws=str(r['keywords']).split(',')
    for k in kws:
        df_unzipped.loc[idx]=[k,s]
        idx+=1
        
    #print("------------")
    #if i>3:
    #    break

In [116]:
df_unzipped.head()

         keyword  shares
0    north-korea  1100.0
1  uncategorized  1100.0
2       us-world  1100.0
3          world  1100.0
4      detainees  1100.0

In [117]:
df_unzipped.dtypes

keyword     object
shares     float64
dtype: object

In [118]:
tmp_avg=df_unzipped.groupby('keyword')['shares'].mean()
tmp_avg.rename('mean', inplace=True)

keyword
                        2200.0
1-world-trade-center    1200.0
1-wtc                   1200.0
10                       802.0
10th-anniversary        1500.0
                         ...
zoo                     1630.0
zte                     5900.0
zuckerberg               996.0
zumba                    884.0
zynga                   1800.0
Name: mean, Length: 6106, dtype: float64

In [119]:
tmp_min=df_unzipped.groupby('keyword')['shares'].min()
tmp_min.rename('min', inplace=True)

keyword
                        2200.0
1-world-trade-center    1200.0
1-wtc                   1200.0
10                       802.0
10th-anniversary        1500.0
                         ...
zoo                      860.0
zte                     5900.0
zuckerberg               996.0
zumba                    884.0
zynga                   1800.0
Name: min, Length: 6106, dtype: float64

In [120]:
tmp_max=df_unzipped.groupby('keyword')['shares'].max()
tmp_max.rename('max', inplace=True)

keyword
                        2200.0
1-world-trade-center    1200.0
1-wtc                   1200.0
10                       802.0
10th-anniversary        1500.0
                         ...
zoo                     2400.0
zte                     5900.0
zuckerberg               996.0
zumba                    884.0
zynga                   1800.0
Name: max, Length: 6106, dtype: float64

In [121]:
tmp=pd.concat([tmp_avg,tmp_min,tmp_max],axis=1).reset_index()

In [122]:
tmp

                   keyword    mean     min     max
0                           2200.0  2200.0  2200.0
1     1-world-trade-center  1200.0  1200.0  1200.0
2                    1-wtc  1200.0  1200.0  1200.0
3                       10   802.0   802.0   802.0
4         10th-anniversary  1500.0  1500.0  1500.0
...                    ...     ...     ...     ...
6101                   zoo  1630.0   860.0  2400.0
6102                   zte  5900.0  5900.0  5900.0
6103            zuckerberg   996.0   996.0   996.0
6104                 zumba   884.0   884.0   884.0
6105                 zynga  1800.0  1800.0  1800.0

[6106 rows x 4 columns]

In [123]:
tmp.keyword = tmp.keyword.str.replace(' ', '')

In [124]:
tmp.to_excel('tmp.xlsx')

In [125]:
df_stats=tmp.copy()

In [126]:
tmp[tmp.keyword=='north-korea']

          keyword         mean    min      max
3823  north-korea  2195.869565  582.0  10600.0

In [131]:
kws=df_kw.loc[0,'keywords']
list_kw=kws.split(',')

c_avg=0
c_min=0
c_max=0

for kw in list_kw:
    kw=kw.strip()
    stats=df_stats[df_stats.keyword==kw][['mean','min','max']]
    print(kw,stats.loc[-1,'mean'],stats.loc[0,'min'], stats.loc[0,'max'])

KeyError: -1