Kannan: performing decomposition and representing textual features (Title & Content) in n-components using LDA, NMF and LSI.

In [1]:
#Author: kannan / extracting LDA, NMF & LSI features
import pandas as pd
from sklearn.decomposition import NMF, LatentDirichletAllocation, TruncatedSVD
from sklearn.feature_extraction.text import CountVectorizer

from datetime import datetime

#### Reading from extracted content file

In [2]:
in_filepath='../data/output/SS_Extracted_content.xlsx'
in_filepath_kw='../data/output/2_keywords_list.xlsx'
out_filepath='../data/output/2_NLP_LDA_NMF_LSI.xlsx'

df=pd.read_excel(in_filepath)
df_kw=pd.read_excel(in_filepath_kw)

df.head()

,Id,url,title,html,content
0,1,http://mashable.com/2014/09/01/americans-held-...,Americans Held in North Korea Ask U.S. for Ass...,<!DOCTYPE html>\n<html data-env='production' l...,"PYONGYANG, North Korea — North Korea gave fore..."
1,2,http://mashable.com/2014/09/01/apple-visa-mast...,"Apple Partners With Visa, MasterCard, AmEx for...",<!DOCTYPE html>\n<html data-env='production' l...,According to new reports from Bloomberg and ot...
2,3,http://mashable.com/2014/09/01/aussie-football...,Aussie Football Players Dress Up as Rolf Harri...,<!DOCTYPE html>\n<html data-env='production' l...,SYDNEY — Two Australian football players are a...
3,4,http://mashable.com/2014/09/01/australia-gover...,Australia Government Buys Bombproof BMW Fleet ...,<!DOCTYPE html>\n<html data-env='production' l...,SYDNEY — The Australia Prime Minister has orde...
4,5,http://mashable.com/2014/09/01/australia-jane-...,Author Compares Women in Traditional Marriages...,<!DOCTYPE html>\n<html data-env='production' l...,"SYDNEY — On Australian panel show Q&A, author ..."

In [3]:
df_kw.head()

   Id                                           keywords
0   1  north-korea, uncategorized, us-world, world, d...
1   2  apple, visa, mobile-payments, american-express...
2   3  australia, uncategorized, us-world, sports, ma...
3   4  australia, bmw, uncategorized, us-world, tony-...
4   5  q-a, australia, uncategorized, tv, us-world, j...

In [4]:
df=pd.merge(df,df_kw,on='Id',how='left')

In [5]:
df.head()

,Id,url,title,html,content,keywords
0,1,http://mashable.com/2014/09/01/americans-held-...,Americans Held in North Korea Ask U.S. for Ass...,<!DOCTYPE html>\n<html data-env='production' l...,"PYONGYANG, North Korea — North Korea gave fore...","north-korea, uncategorized, us-world, world, d..."
1,2,http://mashable.com/2014/09/01/apple-visa-mast...,"Apple Partners With Visa, MasterCard, AmEx for...",<!DOCTYPE html>\n<html data-env='production' l...,According to new reports from Bloomberg and ot...,"apple, visa, mobile-payments, american-express..."
2,3,http://mashable.com/2014/09/01/aussie-football...,Aussie Football Players Dress Up as Rolf Harri...,<!DOCTYPE html>\n<html data-env='production' l...,SYDNEY — Two Australian football players are a...,"australia, uncategorized, us-world, sports, ma..."
3,4,http://mashable.com/2014/09/01/australia-gover...,Australia Government Buys Bombproof BMW Fleet ...,<!DOCTYPE html>\n<html data-env='production' l...,SYDNEY — The Australia Prime Minister has orde...,"australia, bmw, uncategorized, us-world, tony-..."
4,5,http://mashable.com/2014/09/01/australia-jane-...,Author Compares Women in Traditional Marriages...,<!DOCTYPE html>\n<html data-env='production' l...,"SYDNEY — On Australian panel show Q&A, author ...","q-a, australia, uncategorized, tv, us-world, j..."

In [6]:
df.shape

(7795, 6)

#### feature extraction - decomposition

In [7]:
NUM_TOPICS=10

In [8]:
df.iloc[0]['title']
#df.iloc[0]['content']

'Americans Held in North Korea Ask U.S. for Assistance'

In [9]:
titles=df['title'].values.astype('U')
titles=titles.tolist()
titles=list(filter(None,titles))
titles[0:5]

['Americans Held in North Korea Ask U.S. for Assistance',
 'Apple Partners With Visa, MasterCard, AmEx for iPhone 6 Payments: Reports',
 'Aussie Football Players Dress Up as Rolf Harris and Victim',
 'Australia Government Buys Bombproof BMW Fleet for G20 Summit',
 'Author Compares Women in Traditional Marriages to Prostitutes on TV Panel Show']

In [10]:
content=df['content'].values.astype('U')
content=content.tolist()
content=list(filter(None,content))
#content[0:2]

In [11]:
keywords=df['keywords'].values.astype('U')
keywords=keywords.tolist()
keywords=list(filter(None,keywords))
keywords[0:5]

['north-korea, uncategorized, us-world, world, detainees, matthew-miller, jeffrey-fowle',
 'apple, visa, mobile-payments, american-express, mastercard, uncategorized, business, apps-software, mobile',
 'australia, uncategorized, us-world, sports, mad-monday, afl',
 'australia, bmw, uncategorized, us-world, tony-abbott',
 'q-a, australia, uncategorized, tv, us-world, jane-caro']

In [12]:
%%time
#count vectorizing the data
#reference: https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html
vectorizer = CountVectorizer(analyzer='word',min_df=5, max_df=0.95, 
                             stop_words='english', lowercase=True, encoding='utf-8',
                             token_pattern='[a-zA-Z\-][a-zA-Z\-]{2,}')

title_vectorized = vectorizer.fit_transform(titles)
content_vectorized = vectorizer.fit_transform(content)
keyword_vectorized = vectorizer.fit_transform(keywords)

Wall time: 2.81 s

In [13]:
%%time
# Build a Latent Dirichlet Allocation Model
lda_model = LatentDirichletAllocation(n_components=NUM_TOPICS, max_iter=10, learning_method='online')
lda_title = lda_model.fit_transform(title_vectorized)
lda_content = lda_model.fit_transform(content_vectorized)
lda_keyword = lda_model.fit_transform(keyword_vectorized)
print(lda_title.shape)  # (NO_DOCUMENTS, NO_TOPICS)

(7795, 10)
Wall time: 1min 7s

In [14]:
%%time
# Build a Non-Negative Matrix Factorization Model
nmf_model = NMF(n_components=NUM_TOPICS)
nmf_title = nmf_model.fit_transform(title_vectorized)
nmf_content = nmf_model.fit_transform(content_vectorized)
nmf_keyword = nmf_model.fit_transform(keyword_vectorized)
print(nmf_title.shape)  # (NO_DOCUMENTS, NO_TOPICS)

(7795, 10)
Wall time: 3.87 s

In [15]:
%%time
# Build a Latent Semantic Indexing Model
lsi_model = TruncatedSVD(n_components=NUM_TOPICS)
lsi_title = lsi_model.fit_transform(title_vectorized)
lsi_content = lsi_model.fit_transform(content_vectorized)
lsi_keyword = lsi_model.fit_transform(keyword_vectorized)
print(lsi_title.shape)  # (NO_DOCUMENTS, NO_TOPICS)

(7795, 10)
Wall time: 661 ms

In [16]:
models=[]
models.append(('LDA_Title',lda_title))
models.append(('NMF_Title',nmf_title))
models.append(('LSI_Title',lsi_title))
models.append(('LDA_Content',lda_content))
models.append(('NMF_Content',nmf_content))
models.append(('LSI_Content',lsi_content))
models.append(('LDA_Keyword',lda_keyword))
models.append(('NMF_Keyword',nmf_keyword))
models.append(('LSI_Keyword',lsi_keyword))

In [17]:
for name, model in models:
    cols=[]
    for i in range(NUM_TOPICS):
        cols.append(name[:5]+str(i))
    tmp=pd.DataFrame(model,columns=cols)
    tmp['Id']=tmp.index
    tmp['Id']=tmp.Id+1
    df=pd.merge(df,tmp,on='Id',how='left')

In [18]:
df.head()

,Id,url,title,html,content,keywords,LDA_T0,LDA_T1,LDA_T2,LDA_T3,...,LSI_K0,LSI_K1,LSI_K2,LSI_K3,LSI_K4,LSI_K5,LSI_K6,LSI_K7,LSI_K8,LSI_K9
0,1,http://mashable.com/2014/09/01/americans-held-...,Americans Held in North Korea Ask U.S. for Ass...,<!DOCTYPE html>\n<html data-env='production' l...,"PYONGYANG, North Korea — North Korea gave fore...","north-korea, uncategorized, us-world, world, d...",0.016667,0.850000,0.016667,0.016667,...,1.337092,-0.312890,-0.075334,0.014340,-0.026191,-0.018709,0.148285,-0.247328,0.032311,0.013983
1,2,http://mashable.com/2014/09/01/apple-visa-mast...,"Apple Partners With Visa, MasterCard, AmEx for...",<!DOCTYPE html>\n<html data-env='production' l...,According to new reports from Bloomberg and ot...,"apple, visa, mobile-payments, american-express...",0.016667,0.016667,0.016667,0.850000,...,0.108039,0.157399,1.083487,-0.085303,0.859357,-0.107519,-0.243842,-0.126799,-0.184600,-0.059431
2,3,http://mashable.com/2014/09/01/aussie-football...,Aussie Football Players Dress Up as Rolf Harri...,<!DOCTYPE html>\n<html data-env='production' l...,SYDNEY — Two Australian football players are a...,"australia, uncategorized, us-world, sports, ma...",0.016667,0.016667,0.016667,0.016667,...,0.866041,-0.128184,-0.062708,0.121394,-0.041246,-0.083225,-0.559973,0.589085,-0.031191,-0.294628
3,4,http://mashable.com/2014/09/01/australia-gover...,Australia Government Buys Bombproof BMW Fleet ...,<!DOCTYPE html>\n<html data-env='production' l...,SYDNEY — The Australia Prime Minister has orde...,"australia, bmw, uncategorized, us-world, tony-...",0.020000,0.620000,0.020000,0.020000,...,0.845023,-0.205620,-0.058375,-0.006827,-0.049797,-0.086334,-0.558895,0.561352,-0.051666,0.001980
4,5,http://mashable.com/2014/09/01/australia-jane-...,Author Compares Women in Traditional Marriages...,<!DOCTYPE html>\n<html data-env='production' l...,"SYDNEY — On Australian panel show Q&A, author ...","q-a, australia, uncategorized, tv, us-world, j...",0.033333,0.033333,0.700000,0.033333,...,0.841904,-0.205212,-0.057965,-0.006457,-0.049351,-0.085909,-0.551905,0.554571,-0.051252,0.002833

In [19]:
#writing the output
#kannan: we can remove url, title, content. just keep id and calculated columns. later we can join using 'id'
df_bak=df.copy()
df.drop(['url', 'title','content','html','keywords'], axis=1,inplace=True)
df.to_excel(out_filepath, index=False)

In [178]:
data[0]

'Americans Held in North Korea Ask U.S. for Assistance'

In [179]:
#Just visualizing the n_components representation of rows/observations
print(lda_title[0])
print(nmf_title[0])
print(lsi_title[0])

[0.01666667 0.01666667 0.01666667 0.01666667 0.01666667 0.01666667
 0.01666667 0.01666667 0.85       0.01666667]
[0.         0.         0.00034471 0.00541244 0.         0.
 0.03228402 0.00084339 0.         0.00647047]
[ 0.00744652  0.00841603  0.01554511  0.07514149  0.03949661  0.01724751
  0.13662781 -0.03699941 -0.06677146  0.14270257]

In [180]:
#Informational (how to extract topics)
def print_topics(model, vectorizer, top_n=10):
    for idx, topic in enumerate(model.components_):
        print("Topic %d:" % (idx))
        print([(vectorizer.get_feature_names()[i], topic[i])
                        for i in topic.argsort()[:-top_n - 1:-1]])
print("LDA Model:")
print_topics(lda_model, vectorizer)
print("=" * 20)
 
print("NMF Model:")
print_topics(nmf_model, vectorizer)
print("=" * 20)
 
print("LSI Model:")
print_topics(lsi_model, vectorizer)
print("=" * 20)

LDA Model:
Topic 0:
[('said', 7668.455564861905), ('ebola', 2068.384128882067), ('people', 1988.0129055458444), ('government', 1800.7081231436775), ('state', 1724.271322225878), ('according', 1640.177380226889), ('president', 1611.75055422183), ('told', 1386.8573065940584), ('new', 1315.8544347861605), ('obama', 1295.7054856725022)]
Topic 1:
[('company', 3414.7197332322576), ('people', 3363.0815403441798), ('new', 3226.545453096199), ('like', 2987.4984721971814), ('time', 2797.6119190493864), ('said', 2517.130044903668), ('make', 2328.4810049249354), ('says', 2262.236895724618), ('just', 2249.382635741243), ('work', 2213.3649747501954)]
Topic 2:
[('mashable', 3181.5885044763495), ('com', 2484.432637360426), ('https', 2311.978687743325), ('video', 1807.0453678507201), ('youtube', 1535.0940393989092), ('music', 1413.9407911664064), ('file', 1280.6440293306855), ('aws', 1191.6966989047423), ('vdist', 1189.9620846358719), ('null', 1164.2373367265245)]
Topic 3:
[('fail', 2609.5887839988195), ('game', 1118.4197203680517), ('team', 881.2427236091605), ('just', 867.2800636780485), ('nfl', 730.4877521556506), ('sports', 678.9929795122762), ('time', 630.037495348142), ('nba', 617.3657240031068), ('world', 577.404169470088), ('football', 522.6133994940359)]
Topic 4:
[('just', 1795.1088519091657), ('video', 1684.3745951293156), ('game', 1541.7868276503661), ('like', 1506.7659550829746), ('film', 1459.9186942131098), ('time', 1444.344396169057), ('movie', 1057.538873480277), ('star', 1044.9949205542075), ('season', 1039.388107214201), ('watch', 1025.5019400574272)]
Topic 5:
[('mashable', 3083.7603472653027), ('image', 2952.6048808712217), ('new', 1612.9659512464027), ('climate', 1077.333770355539), ('year', 961.9456524534345), ('christina', 893.3649320310964), ('ascani', 858.1159451702016), ('world', 836.2223388321429), ('california', 821.832989184093), ('water', 748.8044918640543)]
Topic 6:
[('twitter', 9181.991644089105), ('document', 6255.781916250634), ('src', 6172.398463130011), ('com', 5501.620631575716), ('script', 4299.379392719539), ('window', 4086.21489419974), ('msla', 4032.5047898924086), ('pic', 3520.8350703871233), ('fjs', 2783.718420209652), ('november', 2454.8282984157368)]
Topic 7:
[('image', 10411.713780129245), ('instagram', 2694.0234371529073), ('imgur', 1212.8970318372062), ('like', 826.8277597433519), ('tumblr', 776.9793852221726), ('flickr', 775.4135513215068), ('composite', 759.5469243311337), ('photo', 746.4412624311268), ('food', 578.2568454866099), ('make', 548.5831753117127)]
Topic 8:
[('apple', 5673.241948023683), ('app', 2722.1433392517797), ('iphone', 2277.895964331507), ('image', 2276.1284740744836), ('new', 2139.332114826842), ('google', 1738.228422415529), ('users', 1553.1082463475404), ('apps', 1453.3353042064482), ('phone', 1418.036304497484), ('sony', 1408.884242489499)]
Topic 9:
[('police', 3485.6584745265604), ('image', 3319.6199312503268), ('images', 1923.3471126805125), ('press', 1825.1629451997305), ('city', 1779.3111091455337), ('associated', 1682.7904520523969), ('getty', 1591.9342007336775), ('protesters', 1247.9980260381049), ('york', 1136.828123907283), ('ferguson', 1136.5132411145585)]
====================
NMF Model:
Topic 0:
[('image', 31.91067604449485), ('instagram', 8.08345678637381), ('press', 3.9688309703362292), ('associated', 3.943989486833485), ('imgur', 3.7320709387681323), ('flickr', 1.258592813676008), ('tumblr', 1.2006562906302376), ('mashable', 1.1797717343171457), ('composite', 1.1681712279379515), ('like', 1.1644837108131292)]
Topic 1:
[('like', 6.789493221029243), ('just', 5.494950780505589), ('time', 4.990113978180557), ('new', 4.964677720551868), ('people', 4.405804773162487), ('make', 3.56876394750271), ('don', 3.1527600176356576), ('says', 3.084333724443048), ('work', 2.8535747859208342), ('company', 2.823647412301122)]
Topic 2:
[('apple', 18.703709219393996), ('iphone', 5.181989923434136), ('watch', 4.168392605548678), ('new', 2.7875510209243783), ('event', 2.170161768037945), ('ipad', 2.0604142697915893), ('pay', 1.6714876857045988), ('image', 1.5922444702207), ('plus', 1.571992153238758), ('october', 1.505586297381181)]
Topic 3:
[('twitter', 14.398669992823537), ('com', 8.34069839736127), ('document', 7.747806934533558), ('src', 7.7290755929826656), ('pic', 6.281367493005052), ('script', 5.373628972626003), ('msla', 4.938686361698706), ('window', 4.810257968509568), ('fjs', 4.188235666272745), ('november', 3.81793114784845)]
Topic 4:
[('mashable', 14.254413873883385), ('image', 9.88593877953039), ('christina', 5.931426178463274), ('ascani', 5.9205282437717), ('luke', 2.5454895286265384), ('leonard', 2.5416338854415077), ('elizabeth', 2.455109756953551), ('pierson', 2.4524068520842994), ('october', 2.3890062670014105), ('event', 2.304433275333278)]
Topic 5:
[('fail', 13.462686543999684), ('just', 3.484542721371122), ('game', 2.734097225985332), ('time', 2.535352514036643), ('youtube', 2.3307582588707967), ('team', 2.264353071314837), ('summer', 2.196592802316595), ('video', 2.1149690520013285), ('sports', 2.110784788582806), ('nba', 1.9414425823329795)]
Topic 6:
[('said', 15.770458924976401), ('ebola', 6.020117881647243), ('new', 3.6888960646000717), ('people', 3.3291496272403953), ('health', 3.1061380109848145), ('state', 2.370608604178319), ('according', 2.2499126480553486), ('press', 2.1447275060412854), ('president', 2.1338362030851816), ('climate', 1.9808810666772079)]
Topic 7:
[('images', 10.527201648673897), ('image', 10.131804851611793), ('getty', 9.907420531121211), ('game', 2.381084204994174), ('nfl', 1.7377290372370846), ('new', 1.5579427167442552), ('rivers', 1.4847626369475864), ('world', 1.389220128281839), ('june', 1.205647445035943), ('joan', 1.0907331754018579)]
Topic 8:
[('police', 9.004413642087503), ('protesters', 5.43421879439952), ('hong', 5.422829836043849), ('kong', 5.309763897744656), ('ferguson', 3.2080464690455064), ('protests', 2.7734034953103754), ('said', 2.6606121373398013), ('brown', 2.294904960209284), ('officer', 2.281669893638056), ('people', 2.2376437620553022)]
Topic 9:
[('mashable', 7.590246219102388), ('com', 7.374717381168445), ('https', 7.00426807349139), ('file', 3.9411921696633048), ('aws', 3.908905408985462), ('vdist', 3.9024343714720993), ('null', 3.79683257109883), ('player', 2.6271731947315407), ('false', 2.3586433259816304), ('sec', 1.561415364407673)]
====================
LSI Model:
Topic 0:
[('image', 0.6039337817655719), ('mashable', 0.2787566981436515), ('apple', 0.21809638142226523), ('new', 0.18693356364413688), ('said', 0.14556445329308318), ('like', 0.133727554491516), ('just', 0.1244462327084724), ('twitter', 0.11937320034171522), ('time', 0.10768330155259377), ('com', 0.1075793552494275)]
Topic 1:
[('image', 0.5236997176821937), ('mashable', 0.21102955605938076), ('apple', 0.16925153766286666), ('ascani', 0.10682224058641378), ('christina', 0.1063831737115728), ('images', 0.06609603063715726), ('getty', 0.06458918814647023), ('instagram', 0.05924742296851362), ('leonard', 0.045880243190091055), ('cupertino', 0.04549071769807056)]
Topic 2:
[('apple', 0.7661434676687174), ('iphone', 0.21679636831868468), ('watch', 0.1627723750536436), ('new', 0.10873553592374621), ('event', 0.10084150091628517), ('ipad', 0.09853832389542429), ('ipod', 0.07674718546007936), ('cupertino', 0.07235431162279968), ('pay', 0.07133468984097827), ('october', 0.06997843073165406)]
Topic 3:
[('com', 0.29653687519294425), ('mashable', 0.2785421186121321), ('twitter', 0.2746736137750801), ('https', 0.16236653642273507), ('pic', 0.15553290882457332), ('src', 0.14585630317191076), ('document', 0.14554754741482967), ('police', 0.13432471531277013), ('october', 0.11167646000970274), ('script', 0.09569375190631263)]
Topic 4:
[('mashable', 0.5558011804367603), ('christina', 0.14976127467724057), ('ascani', 0.14964825854095395), ('like', 0.12188475974066029), ('children', 0.08464842413746113), ('job', 0.08108565842053016), ('just', 0.07774979157901778), ('https', 0.0765122797186142), ('luke', 0.07629275783075481), ('leonard', 0.0749817808694491)]
Topic 5:
[('fail', 0.5463235616003619), ('com', 0.19265901809498487), ('twitter', 0.16940579257556548), ('mashable', 0.11302803111867717), ('apple', 0.11057325251132799), ('https', 0.10030790615297801), ('pic', 0.096485854604437), ('game', 0.09598296061367316), ('summer', 0.0833123158946278), ('src', 0.08253052115097607)]
Topic 6:
[('said', 0.40690325184676973), ('fail', 0.20645331849230183), ('police', 0.18996740715783358), ('ebola', 0.1703302201866169), ('ascani', 0.15310940954974572), ('christina', 0.152580500049978), ('hong', 0.13154302803224288), ('kong', 0.12864069046214793), ('october', 0.1105594228508716), ('event', 0.10711900884632491)]
Topic 7:

[('images', 0.4311959536639149), ('getty', 0.40052456613911963), ('mashable', 0.23051172740123893), ('https', 0.19219659914653042), ('com', 0.14672532213326772), ('new', 0.1362833842295376), ('file', 0.12726212613096938), ('aws', 0.1271379768740413), ('vdist', 0.1268867678107286), ('null', 0.12373193077531718)]
Topic 8:
[('police', 0.3004195777844155), ('hong', 0.22111829599383037), ('kong', 0.2172126204731776), ('protesters', 0.20047836087031934), ('press', 0.19904839316854223), ('associated', 0.1914877288116558), ('com', 0.12158778860348063), ('https', 0.11300940916914255), ('ferguson', 0.11106334369732355), ('iphone', 0.10395009550516253)]
Topic 9:
[('police', 0.23511765770998302), ('christina', 0.17988949067537707), ('ascani', 0.17879481007848647), ('hong', 0.17369774584573408), ('kong', 0.1704758247967365), ('protesters', 0.16995749227559706), ('twitter', 0.14207359170368328), ('october', 0.13064096638011274), ('children', 0.12004829753487772), ('job', 0.1197097943685944)]
====================

In [181]:
def infer_components(model,vectorizer,text):
    c=model.transform(vectorizer.transform([text]))[0]
    return c.tolist()

def infer_components_all(models,vectorizer,text):
    components=[]
    for _,model in models:
        components.extend(infer_components(model,vectorizer,text))
    return components

In [182]:
text = "Kannan is a good boy. An example of new sentence"
x = lda_model.transform(vectorizer.transform([text]))[0]
print(x)

[0.20151986 0.3781287  0.01666953 0.01666905 0.30366269 0.01667154
 0.01666724 0.0166676  0.01667179 0.01667201]

In [183]:
infer_components(lda_model,vectorizer,text)

[0.2015198577492688,
 0.3781287021439153,
 0.016669531964861407,
 0.016669050844705623,
 0.30366269018905556,
 0.01667153993211631,
 0.016667237159911853,
 0.01666759513747562,
 0.016671787216513707,
 0.016672007662175886]

In [185]:
#infer_components_all(models,vectorizer,text)